body {
  background: linear-gradient(
      0deg,
      rgba(209, 76, 76, 0.89) 0%,
      rgba(209, 76, 76, 0.89) 100%
    ),
    #e97171;
  height: 2000px;
  color: white;
}
.header {
  width: 100%;
  display: flex;
  padding: 16px;
  height: 140px;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .header {
    height: 180px;
  }
}
@media (min-width: 1040px) {
  .header {
    height: 210px;
  }
}
.header img {
  height: auto;
}
.describe {
  max-width: 1140px;
  margin: 0 auto;
}
.embedded-trade-page--v2 {
  display: flex;
  justify-content: center;
}
.elementor-element.elementor-element-742e0b4 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --align-items: center;
  --gap: 0px 0px;
  --background-transition: 0.3s;
  --z-index: 1;
}

.elementor-element.elementor-element-a3c4dce {
  --display: flex;
  --flex-direction: row-reverse;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --align-items: center;
  --gap: 30px 30px;
  --background-transition: 0.3s;
}

.elementor-element.elementor-element-2f90e7c img {
  width: 60px;
}

.elementor-element.elementor-element-802b1df img {
  width: 55px;
}

.elementor-element.elementor-element-a582357 img {
  width: 60px;
}

.elementor-element.elementor-element-4dffdf5 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
}

.elementor-element.elementor-element-1d25aca img {
  width: 225px;
}

.elementor-element.elementor-element-f25bc9e {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --align-items: center;
  --gap: 30px 30px;
  --background-transition: 0.3s;
}

.elementor-element.elementor-element-a4e3cda img {
  width: 60px;
}

.elementor-element.elementor-element-6c69fc2 img {
  width: 60px;
}

.elementor-element.elementor-element-5c2d442 img {
  width: 55px;
}

.elementor-element.elementor-element-60b0aa8 img {
  width: 60px;
}

.elementor-element.elementor-element-0a64d93 img {
  width: 60px;
}

.elementor-element.elementor-element-e9a19b0 img {
  width: 60px;
}

.elementor-element.elementor-element-f1c3932 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --justify-content: center;
  --gap: 0px 0px;
  --flex-wrap: wrap;
  --background-transition: 0.3s;
  --overlay-opacity: 1;
  --margin-block-start: 60px;
  --margin-block-end: 0px;
  --margin-inline-start: 0px;
  --margin-inline-end: 0px;
  --padding-block-start: 0px;
  --padding-block-end: 60px;
  --padding-inline-start: 0px;
  --padding-inline-end: 0px;
}

.elementor-element.elementor-element-f1c3932::before,
.elementor-element.elementor-element-f1c3932
  > .elementor-background-video-container::before,
.elementor-element.elementor-element-f1c3932
  > .e-con-inner
  > .elementor-background-video-container::before,
.elementor-element.elementor-element-f1c3932
  > .elementor-background-slideshow::before,
.elementor-element.elementor-element-f1c3932
  > .e-con-inner
  > .elementor-background-slideshow::before,
.elementor-element.elementor-element-f1c3932
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer::before {
  --background-overlay: "";
  background-color: transparent;
  background-image: linear-gradient(180deg, #061a35 0%, #061a35ed 100%);
}

.elementor-element.elementor-element-f1c3932,
.elementor-element.elementor-element-f1c3932::before {
  --border-transition: 0.3s;
}

.elementor-element.elementor-element-9a4e32e {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
}

.elementor-element.elementor-element-6631712 .elementor-wrapper {
  --video-aspect-ratio: 1.33333;
}

.elementor-element.elementor-element-6631712 > .elementor-widget-container {
  box-shadow: 0px 0px 50px 25px #061936;
}

.elementor-element.elementor-element-8dca5de {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --gap: 12px 20px;
  --flex-wrap: wrap;
  --align-content: center;
  --background-transition: 0.3s;
}

.elementor-element.elementor-element-cedefa5 .elementor-heading-title {
  font-family: "Montserrat", Sans-serif;
  font-size: 35px;
  font-weight: 800;
  line-height: 1.2em;
}

.elementor-element.elementor-element-afdae50 {
  color: #e2e2e2;
  font-family: "Montserrat", Sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.7em;
}

.elementor-element.elementor-element-2e6764e .elementor-button {
  background-color: #ffffff00;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-radius: 5px 5px 5px 5px;
}

.elementor-element.elementor-element-b662d75 .elementor-button {
  fill: #061a35;
  color: #061a35;
  background-color: #ffffff;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #ffffff;
  border-radius: 5px 5px 5px 5px;
}

.elementor-element.elementor-element-a7838d6 .elementor-button {
  background-color: #ffffff00;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-radius: 5px 5px 5px 5px;
}

.elementor-element.elementor-element-327894c {
  --display: flex;
  --align-items: center;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --background-transition: 0.3s;
  border-style: solid;
  --border-style: solid;
  border-width: 4px 4px 4px 4px;
  --border-block-start-width: 4px;
  --border-inline-end-width: 4px;
  --border-block-end-width: 4px;
  --border-inline-start-width: 4px;
  border-color: #bb133e;
  --border-color: #bb133e;
  --margin-block-start: 60px;
  --margin-block-end: 30px;
  --margin-inline-start: 20px;
  --margin-inline-end: 20px;
  --padding-block-start: 0px;
  --padding-block-end: 0px;
  --padding-inline-start: 20px;
  --padding-inline-end: 20px;
}

.elementor-element.elementor-element-327894c,
.elementor-element.elementor-element-327894c::before {
  --border-transition: 0.3s;
}

.elementor-element.elementor-element-7117862 {
  --divider-border-style: solid;
  --divider-color: #0c203a;
  --divider-border-width: 5px;
}

.elementor-element.elementor-element-7117862 .elementor-divider-separator {
  width: 300px;
  margin: 0 auto;
  margin-center: 0;
}

.elementor-element.elementor-element-7117862 .elementor-divider {
  text-align: center;
  padding-block-start: 0px;
  padding-block-end: 0px;
}

.elementor-element.elementor-element-7117862 > .elementor-widget-container {
  margin: -4px 0px 0px 0px;
  padding: 0px 0px 50px 0px;
}

.elementor-element.elementor-element-52328a8 img {
  width: 250px;
}

.elementor-element.elementor-element-52328a8 {
  top: -19px;
  position: absolute;
  left: 50%;
  margin-left: -100px;
}
@media (min-width: 768px) {
  .elementor-element.elementor-element-52328a8 {
    margin-left: -125px;
  }
}
.elementor-element.elementor-element-0dbd078 {
  text-align: center;
}

.elementor-element.elementor-element-0dbd078 .elementor-heading-title {
  font-family: "Montserrat", Sans-serif;
  font-size: 50px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.elementor-element.elementor-element-8c06b96 {
  text-align: center;
}

.elementor-element.elementor-element-8c06b96 .elementor-heading-title {
  color: #e2e2e2;
  font-family: "Montserrat", Sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.elementor-element.elementor-element-56fc36a {
  --divider-border-style: solid;
  --divider-color: #11233e;
  --divider-border-width: 5px;
}

.elementor-element.elementor-element-56fc36a .elementor-divider-separator {
  width: 488px;
  margin: 0 auto;
  margin-center: 0;
}

.elementor-element.elementor-element-56fc36a .elementor-divider {
  text-align: center;
  padding-block-start: 0px;
  padding-block-end: 0px;
}

.elementor-element.elementor-element-56fc36a > .elementor-widget-container {
  margin: -4px 0px -4px 0px;
  padding: 50px 0px 0px 0px;
}

.elementor-element.elementor-element-56fc36a.elementor-element {
  --order: 99999 /* order end hack */;
}

.elementor-element.elementor-element-764afe3 {
  --display: flex;
  --background-transition: 0.3s;
  --margin-block-start: -52px;
  --margin-block-end: 0px;
  --margin-inline-start: 0px;
  --margin-inline-end: 0px;
}

.elementor-element.elementor-element-c106a52 {
  text-align: center;
}

.elementor-element.elementor-element-c106a52 .elementor-heading-title {
  font-family: "Montserrat", Sans-serif;
  font-size: 1em;
  font-weight: 600;
}

.elementor-element.elementor-element-c106a52 > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}

.elementor-element.elementor-element-c106a52.elementor-element {
  --align-self: center;
}

.elementor-element.elementor-element-56cad5b {
  text-align: center;
}

.elementor-element.elementor-element-56cad5b .elementor-heading-title {
  color: #e2e2e2;
  font-family: "Montserrat", Sans-serif;
  font-size: 1em;
  font-weight: 600;
}

.elementor-element.elementor-element-56cad5b > .elementor-widget-container {
  padding: 8px 16px 8px 16px;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #e2e2e2;
  border-radius: 5px 5px 5px 5px;
}

.elementor-element.elementor-element-56cad5b.elementor-element {
  --align-self: center;
}

.elementor-element.elementor-element-ba2194b {
  text-align: center;
}

.elementor-element.elementor-element-ba2194b .elementor-heading-title {
  font-family: "Montserrat", Sans-serif;
  font-size: 1em;
  font-weight: 600;
}

.elementor-element.elementor-element-ba2194b > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}

.elementor-element.elementor-element-ba2194b.elementor-element {
  --align-self: center;
}

.elementor-element.elementor-element-95bf5b0 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --justify-content: center;
  --gap: 0px 0px;
  --flex-wrap: wrap;
  --background-transition: 0.3s;
  --padding-block-start: 60px;
  --padding-block-end: 0px;
  --padding-inline-start: 0px;
  --padding-inline-end: 0px;
  --z-index: 1;
}

.elementor-element.elementor-element-95bf5b0,
.elementor-element.elementor-element-95bf5b0::before {
  --border-transition: 0.3s;
}

.elementor-element.elementor-element-0a539b0 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
  --margin-block-start: 0px;
  --margin-block-end: 30px;
  --margin-inline-start: 0px;
  --margin-inline-end: 0px;
}

.elementor-element.elementor-element-e551f14 {
  text-align: center;
}

.elementor-element.elementor-element-e551f14 .elementor-heading-title {
  font-family: "Montserrat", Sans-serif;
  font-size: 50px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.elementor-element.elementor-element-4b28902 {
  text-align: center;
}

.elementor-element.elementor-element-4b28902 .elementor-heading-title {
  color: #e2e2e2;
  font-family: "Montserrat", Sans-serif;
  font-weight: 500;
  line-height: 1.7em;
}

.elementor-element.elementor-element-da16f98 {
  text-align: center;
}

.elementor-element.elementor-element-da16f98 .elementor-heading-title {
  color: #061936;
  font-family: "Montserrat", Sans-serif;
  font-size: 28px;
  font-weight: 800;
  text-transform: uppercase;
}

.elementor-element.elementor-element-da16f98 > .elementor-widget-container {
  padding: 10px 20px 10px 20px;
  background-color: #e2e2e2;
  border-radius: 6px 6px 6px 6px;
}

.elementor-element.elementor-element-da16f98.elementor-element {
  --align-self: center;
}

.elementor-element.elementor-element-c4b0c2b {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --justify-content: center;
  --gap: 20px 40px;
  --background-transition: 0.3s;
  --margin-block-start: 0px;
  --margin-block-end: 20px;
  --margin-inline-start: 0px;
  --margin-inline-end: 0px;
}

.elementor-element.elementor-element-8e104eb .elementor-counter-number-wrapper {
  color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  font-size: 35px;
  font-weight: 700;
}

.elementor-element.elementor-element-8e104eb .elementor-counter-title {
  color: #e2e2e2;
  font-family: "Montserrat", Sans-serif;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.7em;
}

.elementor-element.elementor-element-16a0cd3 .elementor-counter-number-wrapper {
  font-family: "Montserrat", Sans-serif;
  font-size: 35px;
  font-weight: 700;
}

.elementor-element.elementor-element-16a0cd3 .elementor-counter-title {
  color: #e2e2e2;
  font-family: "Montserrat", Sans-serif;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.7em;
}

.elementor-element.elementor-element-d4df5ad {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --justify-content: center;
  --align-items: center;
  --background-transition: 0.3s;
  --margin-block-start: 10px;
  --margin-block-end: 10px;
  --margin-inline-start: 0px;
  --margin-inline-end: 0px;
}

.elementor-element.elementor-element-09e70e5 {
  text-align: center;
}

.elementor-element.elementor-element-09e70e5 .elementor-heading-title {
  color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 1px;
}

.elementor-element.elementor-element-09e70e5.elementor-element {
  --align-self: center;
}

.elementor-element.elementor-element-d1ea166 img {
  height: 80px;
}

.elementor-element.elementor-element-d1ea166 .widget-image-caption {
  font-family: "Montserrat", Sans-serif;
  font-size: 12px;
  font-weight: 500;
  margin-top: 10px;
}

.elementor-element.elementor-element-d1ea166 > .elementor-widget-container {
  margin: 0px 5px 0px 5px;
  border-style: none;
}

.elementor-element.elementor-element-d1ea166.elementor-element {
  --align-self: center;
}

.elementor-element.elementor-element-aee96ac img {
  height: 80px;
}

.elementor-element.elementor-element-aee96ac .widget-image-caption {
  font-family: "Montserrat", Sans-serif;
  font-size: 12px;
  font-weight: 500;
  margin-top: 10px;
}

.elementor-element.elementor-element-aee96ac > .elementor-widget-container {
  margin: 0px 5px 0px 5px;
  border-style: none;
}

.elementor-element.elementor-element-aee96ac.elementor-element {
  --align-self: center;
}

.elementor-element.elementor-element-4a3ba39 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --align-items: center;
  --background-transition: 0.3s;
  box-shadow: 0px 0px 50px 25px #061936;
  --padding-block-start: 0px;
  --padding-block-end: 60px;
  --padding-inline-start: 0px;
  --padding-inline-end: 0px;
}

.elementor-element.elementor-element-4a3ba39,
.elementor-element.elementor-element-4a3ba39::before {
  --border-transition: 0.3s;
}

.elementor-element.elementor-element-be63f87 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --justify-content: center;
  --gap: 10px 10px;
  --flex-wrap: wrap;
  --background-transition: 0.3s;
  border-style: solid;
  --border-style: solid;
  border-width: 2px 2px 2px 2px;
  --border-block-start-width: 2px;
  --border-inline-end-width: 2px;
  --border-block-end-width: 2px;
  --border-inline-start-width: 2px;
  border-color: #e2e2e2;
  --border-color: #e2e2e2;
  --border-radius: 5px 5px 5px 5px;
  --margin-block-start: 30px;
  --margin-block-end: 15px;
  --margin-inline-start: 0px;
  --margin-inline-end: 0px;
  --padding-block-start: 10px;
  --padding-block-end: 10px;
  --padding-inline-start: 20px;
  --padding-inline-end: 20px;
}

.elementor-element.elementor-element-be63f87,
.elementor-element.elementor-element-be63f87::before {
  --border-transition: 0.3s;
}

.elementor-element.elementor-element-cb552dd .elementor-counter-number-wrapper {
  color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  font-size: 28px;
  font-weight: 700;
}

.elementor-element.elementor-element-cb552dd.elementor-element {
  --align-self: center;
}

.elementor-element.elementor-element-32e83ce .elementor-heading-title {
  color: #e2e2e2;
  font-family: "Montserrat", Sans-serif;
  font-weight: 700;
}

.elementor-element.elementor-element-32e83ce.elementor-element {
  --align-self: center;
}

.elementor-element.elementor-element-9f3ba82 .swiper-wrapper {
  display: flex;
  align-items: center;
}

.elementor-element.elementor-element-9f3ba82
  .elementor-image-carousel-wrapper
  .elementor-image-carousel
  .swiper-slide-image {
  border-style: none;
  border-radius: 15px 15px 15px 15px;
}

.elementor-element.elementor-element-9f3ba82 .elementor-image-carousel-caption {
  text-align: center;
  color: #e2e2e2;
  font-style: normal;
}

.elementor-element.elementor-element-9f3ba82 > .elementor-widget-container {
  margin: 30px 0px 0px 0px;
  padding: 0px 20px 0px 20px;
  border-style: none;
}

.elementor-element.elementor-element-f87e45c {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --justify-content: center;
  --align-items: center;
  --background-transition: 0.3s;
}

.elementor-element.elementor-element-c6e856e .elementor-heading-title {
  font-family: "Montserrat", Sans-serif;
  font-size: 25px;
  font-weight: 600;
}

.elementor-element.elementor-element-8f9671f img {
  width: 200px;
}

.elementor-element.elementor-element-806b58b .elementor-button {
  font-family: "Montserrat", Sans-serif;
  font-weight: 700;
  fill: #061936;
  color: #061936;
  background-color: #2bd8ae;
}

.elementor-element.elementor-element-806b58b .elementor-button:hover,
.elementor-element.elementor-element-806b58b .elementor-button:focus {
  background-color: #00ffc1;
}

.elementor-element.elementor-element-6a71d7f {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --gap: 0px 0px;
  --flex-wrap: wrap;
  --background-transition: 0.3s;
  --overlay-opacity: 1;
  --padding-block-start: 60px;
  --padding-block-end: 60px;
  --padding-inline-start: 0px;
  --padding-inline-end: 0px;
  --z-index: 1;
}

.elementor-element.elementor-element-6a71d7f:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-element.elementor-element-6a71d7f
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../../American-BG.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.elementor-element.elementor-element-6a71d7f::before,
.elementor-element.elementor-element-6a71d7f
  > .elementor-background-video-container::before,
.elementor-element.elementor-element-6a71d7f
  > .e-con-inner
  > .elementor-background-video-container::before,
.elementor-element.elementor-element-6a71d7f
  > .elementor-background-slideshow::before,
.elementor-element.elementor-element-6a71d7f
  > .e-con-inner
  > .elementor-background-slideshow::before,
.elementor-element.elementor-element-6a71d7f
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer::before {
  --background-overlay: "";
  background-color: transparent;
  background-image: radial-gradient(
    at center center,
    #061936d9 0%,
    #061936 100%
  );
}

.elementor-element.elementor-element-6a71d7f,
.elementor-element.elementor-element-6a71d7f::before {
  --border-transition: 0.3s;
}

.elementor-element.elementor-element-ec9c7be {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --justify-content: center;
  --background-transition: 0.3s;
  --margin-block-start: 0px;
  --margin-block-end: 40px;
  --margin-inline-start: 0px;
  --margin-inline-end: 0px;
}

.elementor-element.elementor-element-cd8b150 img {
  width: 60px;
}

.elementor-element.elementor-element-79acde0 {
  text-align: center;
}

.elementor-element.elementor-element-79acde0 .elementor-heading-title {
  font-family: "Montserrat", Sans-serif;
  font-size: 50px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.elementor-element.elementor-element-79acde0.elementor-element {
  --align-self: center;
}

.elementor-element.elementor-element-301c8a4 {
  text-align: center;
  width: 100%;
  max-width: 100%;
}

.elementor-element.elementor-element-301c8a4 .elementor-heading-title {
  color: #e2e2e2;
  font-family: "Montserrat", Sans-serif;
  font-size: 25px;
  font-weight: 500;
}

.elementor-element.elementor-element-5e3387b {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --justify-content: center;
  --gap: 10px 20px;
  --background-transition: 0.3s;
}

.elementor-element.elementor-element-125a635 img {
  width: 175px;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #ffffff;
  border-radius: 999px 999px 999px 999px;
}

.elementor-element.elementor-element-125a635 > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  background-color: #061936;
  border-radius: 999px 999px 999px 999px;
}

.elementor-element.elementor-element-125a635.elementor-element {
  --align-self: center;
}

.elementor-element.elementor-element-8ef631a {
  text-align: center;
}

.elementor-element.elementor-element-8ef631a .elementor-heading-title {
  font-family: "Montserrat", Sans-serif;
  font-size: 35px;
  font-weight: 700;
}

.elementor-element.elementor-element-8ef631a > .elementor-widget-container {
  margin: 10px 0px 0px 0px;
}

.elementor-element.elementor-element-b12cbcb {
  text-align: center;
  color: #e2e2e2;
  font-family: "Montserrat", Sans-serif;
  font-weight: 500;
  line-height: 1.7em;
  width: var(--container-widget-width, 363px);
  max-width: 363px;
  --container-widget-width: 363px;
  --container-widget-flex-grow: 0;
}

.elementor-element.elementor-element-b12cbcb > .elementor-widget-container {
  padding: 10px 20px 10px 20px;
  background-color: #06193673;
  border-radius: 5px 5px 5px 5px;
}

.elementor-element.elementor-element-b12cbcb.elementor-element {
  --align-self: center;
}

.elementor-element.elementor-element-41e9866 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --justify-content: center;
  --gap: 10px 20px;
  --background-transition: 0.3s;
}

.elementor-element.elementor-element-d56541b img {
  width: 175px;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #ffffff;
  border-radius: 999px 999px 999px 999px;
}

.elementor-element.elementor-element-d56541b > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  background-color: #061936;
  border-radius: 999px 999px 999px 999px;
}

.elementor-element.elementor-element-d56541b.elementor-element {
  --align-self: center;
}

.elementor-element.elementor-element-d096188 {
  text-align: center;
}

.elementor-element.elementor-element-d096188 .elementor-heading-title {
  font-family: "Montserrat", Sans-serif;
  font-size: 35px;
  font-weight: 700;
}

.elementor-element.elementor-element-d096188 > .elementor-widget-container {
  margin: 10px 0px 0px 0px;
}

.elementor-element.elementor-element-3f14fc7 {
  text-align: center;
  color: #e2e2e2;
  font-family: "Montserrat", Sans-serif;
  font-weight: 500;
  line-height: 1.7em;
  width: var(--container-widget-width, 363px);
  max-width: 363px;
  --container-widget-width: 363px;
  --container-widget-flex-grow: 0;
}

.elementor-element.elementor-element-3f14fc7 > .elementor-widget-container {
  padding: 10px 20px 10px 20px;
  background-color: #06193673;
  border-radius: 5px 5px 5px 5px;
}

.elementor-element.elementor-element-3f14fc7.elementor-element {
  --align-self: center;
}

.elementor-element.elementor-element-5e4c0e8 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --justify-content: center;
  --gap: 10px 20px;
  --background-transition: 0.3s;
}

.elementor-element.elementor-element-d97ed1c img {
  width: 175px;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #ffffff;
  border-radius: 999px 999px 999px 999px;
}

.elementor-element.elementor-element-d97ed1c > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  background-color: #061936;
  border-radius: 999px 999px 999px 999px;
}

.elementor-element.elementor-element-d97ed1c.elementor-element {
  --align-self: center;
}

.elementor-element.elementor-element-34b84f6 {
  text-align: center;
}

.elementor-element.elementor-element-34b84f6 .elementor-heading-title {
  font-family: "Montserrat", Sans-serif;
  font-size: 35px;
  font-weight: 700;
}

.elementor-element.elementor-element-34b84f6 > .elementor-widget-container {
  margin: 10px 0px 0px 0px;
}

.elementor-element.elementor-element-e43f921 {
  text-align: center;
  color: #e2e2e2;
  font-family: "Montserrat", Sans-serif;
  font-weight: 500;
  line-height: 1.7em;
  width: var(--container-widget-width, 363px);
  max-width: 363px;
  --container-widget-width: 363px;
  --container-widget-flex-grow: 0;
}

.elementor-element.elementor-element-e43f921 > .elementor-widget-container {
  padding: 10px 20px 10px 20px;
  background-color: #06193673;
  border-radius: 5px 5px 5px 5px;
}

.elementor-element.elementor-element-e43f921.elementor-element {
  --align-self: center;
}

.elementor-element.elementor-element-8eee326 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
  box-shadow: 0px 0px 50px 25px #061936;
  --padding-block-start: 60px;
  --padding-block-end: 60px;
  --padding-inline-start: 0px;
  --padding-inline-end: 0px;
}

.elementor-element.elementor-element-8eee326,
.elementor-element.elementor-element-8eee326::before {
  --border-transition: 0.3s;
}

.elementor-element.elementor-element-d67f357 img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-style: none;
}

.elementor-element.elementor-element-d67f357 > .elementor-widget-container {
  border-style: solid;
  width: fit-content;
  border-width: 2px 2px 2px 2px;
  border-color: #e2e2e2;
  border-radius: 5px 5px 5px 5px;
  margin: 0 auto;
}

.elementor-element.elementor-element-d67f357.elementor-element {
  --align-self: center;
}

.elementor-element.elementor-element-6524a3c {
  text-align: center;
}

.elementor-element.elementor-element-6524a3c .elementor-heading-title {
  font-family: "Montserrat", Sans-serif;
  font-size: 35px;
  font-weight: 700;
}

.elementor-element.elementor-element-4f0672e .elementor-tab-title {
  border-color: #e2e2e27a;
}

.elementor-element.elementor-element-4f0672e .elementor-tab-content {
  border-width: 2px;
  border-bottom-color: #e2e2e27a;
  color: #e2e2e2;
  font-family: "Montserrat", Sans-serif;
  font-weight: 500;
  padding: 0px 15px 15px 15px;
}

.elementor-element.elementor-element-4f0672e .elementor-toggle-title {
  font-family: "Montserrat", Sans-serif;
  font-weight: 700;
}

.elementor-element.elementor-element-4f0672e
  .elementor-tab-title
  .elementor-toggle-icon
  i:before {
  color: #ffffff;
}

.elementor-element.elementor-element-4f0672e
  .elementor-tab-title
  .elementor-toggle-icon
  svg {
  fill: #ffffff;
}

.elementor-element.elementor-element-4f0672e
  .elementor-tab-title.elementor-active
  .elementor-toggle-icon
  i:before {
  color: #bb133e;
}

.elementor-element.elementor-element-4f0672e
  .elementor-tab-title.elementor-active
  .elementor-toggle-icon
  svg {
  fill: #bb133e;
}

.elementor-element.elementor-element-4f0672e > .elementor-widget-container {
  margin: 0px 0px 30px 0px;
  background-color: #061936e8;
}

.elementor-element.elementor-element-8f99ee9 img {
  width: 40px;
}

.elementor-element.elementor-element-8f99ee9 > .elementor-widget-container {
  padding: 10px 10px 10px 10px;
  background-color: #061936e8;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #e2e2e2;
  border-radius: 5px 5px 5px 5px;
}

.elementor-element.elementor-element-8f99ee9.elementor-element {
  --align-self: center;
}

.elementor-element.elementor-element-b9bd148 {
  text-align: center;
}

.elementor-element.elementor-element-b9bd148 .elementor-heading-title {
  font-family: "Montserrat", Sans-serif;
  font-size: 35px;
  font-weight: 700;
}

.elementor-element.elementor-element-aa7362e .elementor-tab-title {
  border-width: 2px;
  border-color: #e2e2e27a;
}

.elementor-element.elementor-element-aa7362e .elementor-tab-content {
  border-width: 2px;
  border-bottom-color: #e2e2e27a;
  color: #e2e2e2;
  font-family: "Montserrat", Sans-serif;
  font-weight: 500;
  padding: 0px 15px 15px 15px;
}

.elementor-element.elementor-element-aa7362e .elementor-toggle-title {
  font-family: "Montserrat", Sans-serif;
  font-weight: 700;
}

.elementor-element.elementor-element-aa7362e
  .elementor-tab-title
  .elementor-toggle-icon
  i:before {
  color: #ffffff;
}

.elementor-element.elementor-element-aa7362e
  .elementor-tab-title
  .elementor-toggle-icon
  svg {
  fill: #ffffff;
}

.elementor-element.elementor-element-aa7362e
  .elementor-tab-title.elementor-active
  .elementor-toggle-icon
  i:before {
  color: #bb133e;
}

.elementor-element.elementor-element-aa7362e
  .elementor-tab-title.elementor-active
  .elementor-toggle-icon
  svg {
  fill: #bb133e;
}

.elementor-element.elementor-element-aa7362e > .elementor-widget-container {
  background-color: #061936e8;
}

.elementor-element.elementor-element-e5a2153 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --align-items: center;
  --background-transition: 0.3s;
  --margin-block-start: 0px;
  --margin-block-end: 60px;
  --margin-inline-start: 0px;
  --margin-inline-end: 0px;
}

.elementor-element.elementor-element-b50b44e img {
  width: 100px;
  filter: brightness(100%) contrast(100%) saturate(0%) blur(0px)
    hue-rotate(0deg);
}

.elementor-element.elementor-element-c8a8c67 .elementor-button {
  background-color: #ffffff00;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-radius: 5px 5px 5px 5px;
}

.elementor-element.elementor-element-a26349e .elementor-heading-title {
  font-family: "Montserrat", Sans-serif;
  font-size: 1em;
  font-weight: 600;
}

.elementor-element.elementor-element-4c693ff {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --justify-content: center;
  --align-items: center;
  --background-transition: 0.3s;
  --padding-block-start: 0px;
  --padding-block-end: 0px;
  --padding-inline-start: 0px;
  --padding-inline-end: 0px;
}

.elementor-element.elementor-element-da92d4e img {
  width: 35px;
}

.elementor-element.elementor-element-405de49 img {
  width: 32px;
}

.elementor-element.elementor-element-0fd1581 img {
  width: 35px;
}

.elementor-element.elementor-element-4a8f83c img {
  width: 35px;
}

.elementor-element.elementor-element-04930e5 img {
  width: 35px;
}

.elementor-element.elementor-element-310f729 img {
  width: 35px;
}

.elementor-element.elementor-element-7d4cf0b {
  text-align: center;
  color: #e2e2e2;
  font-family: "Montserrat", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  width: var(--container-widget-width, 631px);
  max-width: 631px;
  --container-widget-width: 631px;
  --container-widget-flex-grow: 0;
}

body.elementor-page-289:not(.elementor-motion-effects-element-type-background),
body.elementor-page-289
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #061936;
}

@media (min-width: 768px) {
  .elementor-element.elementor-element-a3c4dce {
    width: 37.5%;
  }

  .elementor-element.elementor-element-4dffdf5 {
    width: 25%;
  }

  .elementor-element.elementor-element-f25bc9e {
    width: 37.5%;
  }

  .elementor-element.elementor-element-f1c3932 {
    width: 1171px;
  }

  .elementor-element.elementor-element-9a4e32e {
    width: 50%;
  }

  .elementor-element.elementor-element-8dca5de {
    width: 50%;
  }

  .elementor-element.elementor-element-327894c {
    width: 800px;
  }

  .elementor-element.elementor-element-95bf5b0 {
    width: 870px;
  }

  .elementor-element.elementor-element-d4df5ad {
    width: 698px;
  }

  .elementor-element.elementor-element-be63f87 {
    width: 440px;
  }

  .elementor-element.elementor-element-ec9c7be {
    width: 100%;
  }

  .elementor-element.elementor-element-5e3387b {
    width: 33.33%;
  }

  .elementor-element.elementor-element-41e9866 {
    width: 33.33%;
  }

  .elementor-element.elementor-element-5e4c0e8 {
    width: 33.33%;
  }

  .elementor-element.elementor-element-8eee326 {
    width: 600px;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-element.elementor-element-9a4e32e {
    width: 100%;
  }

  .elementor-element.elementor-element-8dca5de {
    width: 704px;
  }

  .elementor-element.elementor-element-327894c {
    width: 700px;
  }

  .elementor-element.elementor-element-5e3387b {
    width: 50%;
  }

  .elementor-element.elementor-element-41e9866 {
    width: 50%;
  }

  .elementor-element.elementor-element-5e4c0e8 {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .elementor-element.elementor-element-f1c3932 {
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 60px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
  }

  .elementor-element.elementor-element-8dca5de {
    --justify-content: center;
  }

  .elementor-element.elementor-element-cedefa5 {
    text-align: center;
  }

  .elementor-element.elementor-element-afdae50 {
    text-align: center;
    width: var(--container-widget-width, 594px);
    max-width: 594px;
    --container-widget-width: 594px;
    --container-widget-flex-grow: 0;
  }

  .elementor-element.elementor-element-8e104eb .elementor-counter-title {
    line-height: 1.7em;
  }

  .elementor-element.elementor-element-16a0cd3 .elementor-counter-title {
    line-height: 1.7em;
  }

  .elementor-element.elementor-element-09e70e5 {
    text-align: center;
  }

  .elementor-element.elementor-element-7d4cf0b {
    --container-widget-width: 528px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 528px);
    max-width: 528px;
  }
}

@media (max-width: 767px) {
  .elementor-element.elementor-element-a3c4dce {
    --justify-content: center;
  }

  .elementor-element.elementor-element-1d25aca img {
    width: 200px;
  }

  .elementor-element.elementor-element-f25bc9e {
    --justify-content: center;
  }

  .elementor-element.elementor-element-a4e3cda img {
    width: 55px;
  }

  .elementor-element.elementor-element-6c69fc2 img {
    width: 55px;
  }

  .elementor-element.elementor-element-5c2d442 img {
    width: 50px;
  }

  .elementor-element.elementor-element-60b0aa8 img {
    width: 55px;
  }

  .elementor-element.elementor-element-0a64d93 img {
    width: 55px;
  }

  .elementor-element.elementor-element-e9a19b0 img {
    width: 55px;
  }

  .elementor-element.elementor-element-8dca5de {
    width: 618px;
    --gap: 20px 20px;
  }

  .elementor-element.elementor-element-327894c {
    width: 470px;
  }

  .elementor-element.elementor-element-52328a8 img {
    width: 200px;
  }

  .elementor-element.elementor-element-0dbd078 .elementor-heading-title {
    font-size: 30px;
    line-height: 1.2em;
  }

  .elementor-element.elementor-element-8c06b96 .elementor-heading-title {
    font-size: 1.1em;
    line-height: 1.2em;
  }

  .elementor-element.elementor-element-8c06b96 > .elementor-widget-container {
    margin: -15px 0px 0px 0px;
  }

  .elementor-element.elementor-element-c106a52 > .elementor-widget-container {
    padding: 0px 20px 0px 20px;
  }

  .elementor-element.elementor-element-ba2194b > .elementor-widget-container {
    padding: 0px 20px 0px 20px;
  }

  .elementor-element.elementor-element-e551f14 .elementor-heading-title {
    font-size: 35px;
  }

  .elementor-element.elementor-element-c4b0c2b {
    --justify-content: center;
  }

  .elementor-element.elementor-element-8e104eb
    .elementor-counter-number-wrapper {
    font-size: 30px;
  }

  .elementor-element.elementor-element-16a0cd3
    .elementor-counter-number-wrapper {
    font-size: 30px;
  }

  .elementor-element.elementor-element-09e70e5 .elementor-heading-title {
    font-size: 22px;
  }

  .elementor-element.elementor-element-d1ea166 img {
    height: 70px;
  }

  .elementor-element.elementor-element-d1ea166 .widget-image-caption {
    font-size: 12px;
  }

  .elementor-element.elementor-element-aee96ac img {
    height: 70px;
  }

  .elementor-element.elementor-element-aee96ac .widget-image-caption {
    font-size: 12px;
  }

  .elementor-element.elementor-element-be63f87 {
    width: 275px;
    --padding-block-start: 10px;
    --padding-block-end: 10px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
  }

  .elementor-element.elementor-element-32e83ce {
    text-align: center;
  }

  .elementor-element.elementor-element-79acde0 .elementor-heading-title {
    font-size: 35px;
    line-height: 1.2em;
  }

  .elementor-element.elementor-element-301c8a4 .elementor-heading-title {
    line-height: 1.3em;
  }

  .elementor-element.elementor-element-8ef631a .elementor-heading-title {
    font-size: 30px;
  }

  .elementor-element.elementor-element-d096188 .elementor-heading-title {
    font-size: 30px;
  }

  .elementor-element.elementor-element-34b84f6 .elementor-heading-title {
    font-size: 30px;
  }

  .elementor-element.elementor-element-8eee326 {
    width: 500px;
  }

  .elementor-element.elementor-element-6524a3c .elementor-heading-title {
    font-size: 30px;
    line-height: 1.3em;
  }

  .elementor-element.elementor-element-6524a3c > .elementor-widget-container {
    margin: 0px 10px 0px 10px;
  }

  .elementor-element.elementor-element-4f0672e .elementor-toggle-title {
    line-height: 1.7em;
  }

  .elementor-element.elementor-element-4f0672e > .elementor-widget-container {
    margin: 0px 10px 30px 10px;
  }

  .elementor-element.elementor-element-b9bd148 .elementor-heading-title {
    font-size: 30px;
    line-height: 1.3em;
  }

  .elementor-element.elementor-element-b9bd148 > .elementor-widget-container {
    margin: 0px 10px 0px 10px;
  }

  .elementor-element.elementor-element-aa7362e .elementor-toggle-title {
    line-height: 1.7em;
  }

  .elementor-element.elementor-element-aa7362e > .elementor-widget-container {
    margin: 0px 10px 0px 10px;
  }
}
@media (max-width: 500px) {
  .elementor-element.elementor-element-327894c {
    width: 400px;
  }
}
